@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap&subset=cyrillic,cyrillic-ext');
.nunito{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.fs_18{
    font-size: 18px;
}
.fs_20{
font-size: 20px;
}
.fs_24{
    font-size: 24px;
}
.fs_28{
    font-size: 28px;
}
.fs_28_bold{
    font-size: 28px;
    font-weight: 700;
}
.fs_header{
    font-size: 2.5rem;
}