::-webkit-scrollbar {
    width: 5px;
    overflow: hidden;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    overflow: hidden;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(245,198,97);
    overflow: hidden;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    overflow: hidden;
  }
.item-select:hover{
cursor: pointer;
color: rgba(218, 168, 7, 0.808);
overflow: hidden;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  background: linear-gradient( 180deg, rgba(248, 248, 248, 0.007), rgba(26, 26, 26, 0.884));
  transition: 0.3s;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(4.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}